html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-top: 44px 0px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 350px;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 415px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 60px;
    width: 100%;
    height: 100px;
}

#insta-logo {
    box-sizing: border-box;
    width: 50%;
    height: 50px;
}

.main-item-container-4 {
    margin: 0 40px 6px;
}

.input-box {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 100%;
    height: 38px;
    background-color: #fafafa;

    & > input {
        box-sizing: border-box;
        outline: none;
        border: none;
        padding: 9px 0 7px 8px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 12px;

        &::-webkit-input-placeholder {
            color: 00000000;
        }

        &:not(:placeholder-shown) {
            padding: 14px 0 2px 8px;
        }

        &:not(:placeholder-shown) + label {
            top: 9px;
            font-size: 10px;
        }
    }

    & > label {
        position: absolute;
        top: 50%;
        left: 9px;
        transform: translateY(-50%);
        font-size: 12px;
        color: #737373;
        cursor: text;
        transition: all 0.1s ease-in-out;
    }
}

.main-item-container-3 {
    margin: 10px 40px 18px;
    display: flex;
    align-items: center;

    & > .side-line {
        flex-grow: 1;
        height: 1px;
        background-color: #dbdbdb;
    }

    & > .or-text {
        margin: 0 18px;
        font-size: 13px;
        font-weight: 600;
        color: #737373;
    }
}

.main-item-container-2 {
    margin: 8px 40px;
}

.button-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    padding: 7px 16px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #0095f6;
    cursor: pointer;

    &:hover {
        background-color: #1877f2;
    }

    &:disabled {
        background-color: #0095f699;
    }
}

.facebook-login{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #385185;
    font-weight:bolder;
    font-size: 14px;
}

.facebook-icon {
    display: block;
    background-image: url(https://static.cdninstagram.com/rsrc.php/v4/y5/r/TJztmXpWTmS.png);
    background-repeat: no-repeat;
    background-position: -414px -258px;
    margin-right: 8px;
    height: 16px;
    width: 16px;
}

.sc-pw{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #00376b;
    font-size: 14px;
}

#sign-up-box {
    display: flex;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sign-up-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
}

.main-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > span {
        margin: 10px 20px;
        font-size: 14px;
    }
}

.download-link-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    & > a:nth-of-type(1) {
        margin-right: 8px;
    }

    & > a > img {
        height: 40px;
    }
}

#sign-up-text {
    font-size: 14px;
}

#join {
    text-decoration: none;
    font-weight: bolder;
    color: #0095f6;
}

